.friends {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  gap: 18px;
}

.friendsItem {
  display: flex;
  /* align-items: center; */
  border: 2px solid black;
  border-radius: 7%;
  padding: 10px;
}

.friendsItem img {
  margin: 0 auto;
}
