.table {
  width: 100%;
  border-collapse: collapse;
  margin: 40px 0;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.table th {
  font-weight: bold;
  background-color: #2a2a2a;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #d3d3d3;
}

.table tr:hover {
  background-color: #f1f1f1;
}
